<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/stylesheet.css">
  <meta charset="UTF-8">
  <title>profile</title>
</head>
<body>
<br>
<br>
<br>
<div class="bannerbox">
  <a href="../static/index.html">
    <b style="font-size: 20px">배너 사진</b>
  </a>
</div>
<br>

<div style="margin-left: 2.5%">
  <a href="profile.html">
    <b>Profile</b>
  </a>

  <b style="margin-left: 10px">|</b>

  <a href="../static/index.html" style="margin-left: 10px">
    <b>Screenshot</b>
  </a>

  <b style="margin-left: 5px">|</b>


  <a href="../static/index.html" style="margin-left: 10px">
    <b>Coding</b>
  </a>

  <br>
  <br>
  <br>
</body>
</html>