
a{
    text-decoration: none;
    color: black;
}
.test{
    text-decoration: none;
    color: black;
}
.profilebox{
    background-color: #B2CCFF;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerbox{
    background-color: #B2CCFF;
    border-radius: 10px;

    width: 95%;
    height: 200px;
    padding: 10px;
    margin:  auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.linkstyle{
    text-decoration: none;
    color: black;
}